@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Product Sans', 'system-ui', 'sans-serif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

body {
  /* background-color: rgba(0,0,0,.87); */
  background-color: rgb(31, 28, 28);
  color: #f1f1f1;
  width: 100%;
}

button {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (min-width: 820px) {
  a {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1600px) {
  body {
    max-width: 1600px;
    margin: 0 auto;
    border-right: 1px solid #222222;
    border-left: 1px solid #222222;
  }
}