@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Product Sans', 'system-ui', 'sans-serif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

body {
  /* background-color: rgba(0,0,0,.87); */
  background-color: rgb(31, 28, 28);
  color: #f1f1f1;
  width: 100%;
}

/* consider removing/replacing */
.contact {
  /* padding: 50vh 0 15vh; */
  /* position: relative; */
  /* overflow-y: hidden; */
  width: 80%;
  margin: 100px auto 30px;
  display: flex;
  flex-direction: column;
}


/* .contact-container-enlarge { */
  /* padding-bottom: 55vh; */
  /* animation: contactContainerEnlarge 500ms ease-in-out */
/* } */

/* @keyframes contactContainerEnlarge {
  from {
    padding-bottom: 15vh;
  }
  to {
    padding-bottom: 55vh;
  }
} */

/* .contact-container-shorten { */
  /* padding-bottom: 15vh; */
  /* animation: contactContainerShorten 500ms ease-in-out; */
  /* unsure how to get reverse direction to apply */
  /* animation-direction: reverse; */
/* } */

/* @keyframes contactContainerShorten {
  from {
    padding-bottom: 55vh;
  }
  to {
    padding-bottom: 15vh;
  }
} */

.contact > p {
  width: fit-content;
  margin: 20px auto 0;
  font-size: 17px;
  color: rgb(56, 211, 146);
  /* border-bottom: 1px solid rgb(56, 211, 146); */
}

form {
  position: relative;
  margin: 10px 0 20px;
  height: 0;
  overflow: hidden;
  /* overflow-y: auto; */
  transition: 700ms cubic-bezier(0.42, 0, 0.15, 0.85);
  /* cubic-bezier(0.42, 0, 0.15, 0.85) */
  /* edges of form appear at edges of hidden container if width is set to 100% */
  /* width: 99%; */
  /* position: absolute; */
  /* top: 50px; */
  /* left: 50%; */
  /* z-index: 1; */
  /* transform: translateX(-50%); */
}

.contact.active form {
  height:415px;
}

/* .displayForm { */
  /* display: table; */
  /* transform: translate(-50%, 110%); */
  /* animation: slideOutForm 700ms cubic-bezier(0.42, 0, 0.15, 0.85); */
/* } */

/* @keyframes slideOutForm {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translate(-50%, 110%)
  }
} */

.hideForm {
  /* display: table; */
  transform: translateX(-50%);
  animation: hideForm 700ms cubic-bezier(0.42, 0, 0.15, 0.85);
}

@keyframes hideForm {
  from {
    transform: translate(-50%, 110%)
  }
  to {
    transform: translateX(-50%);
  }
}

button.headerLabel {
  margin: 0px auto 20px;
  /* padding-bottom: 10px; */
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #f1f1f1;
  background-color: transparent;
  z-index: 3;
  position: relative;
  /* background-color: rgba(32, 182, 147, 0.315); */
  /* border-right: 3px solid #f1f1f1; */
  /* border-left: 3px solid #f1f1f1; */
  border: 2px solid #f1f1f1;
  /* border-radius: 0; */
  /* border-radius: 8px; */
  /* border-top-right-radius: 15px; */
  /* border-bottom-right-radius: 15px; */
  /* padding: 5px 7px; */
}

button.headerLabel::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
  color: #f1f1f1;
  margin-left: 9px;
  font-size: 18px;
}

.contact-gradient {
  height: 50vh;
  width: 100%;
  z-index:2;
  position: absolute;
  top: 50px;
  background-color: rgb(31,28,28);
}

.contact-gradient-border {
  border-bottom: 3px solid #f1f1f1;
  width: 0;
  border-radius: 1px;
  /* makes border spread across from the center point */
  /* margin: auto; */
}

.slideAcrossBorder {
  width: 00%;
  /* animation: slideAcross 700ms ease-in-out; */
  animation: slideAcross 1200ms ease-in-out;
  align-self: flex-end;
}

.slideBackBorder {
  /* animation: slideBack 680ms ease-in-out; */
  animation: slideBack 1200ms ease-in-out;
  align-self: flex-start;
}

@keyframes slideAcross {
  0% {
    width: 0;
    align-self: flex-start;
  }
  50% {
    width: 100%
  }
  100% {
    width: 0%;
    align-self: flex-end;
  }
}

@keyframes slideBack {
  0% {
    width: 0;
    align-self: flex-end;
  }
  50% {
    width: 100%
  }
  100% {
    width: 0%;
    align-self: flex-start;
  }
}



/* header */
header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin-top: 19px;
  font-size: 40px;
}

header h1::after {
  content: '.';
  color:#d8e2dc;
}

header > div > h2 {
  font-size: 14px;
}

ul:first-of-type {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  top: 68px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul:last-of-type {
  top: 250px;
  display: flex;
  position: relative;
  justify-content: center;
}

ul:last-of-type > li {
  padding: 0 15px;
}


ul:first-of-type > li {
  padding: 7px 10px;
  /* width: fit-content; */
  /* border-radius: 25px; */
  /* text-align: center; */
  margin: 0 80px 13px;
  transition: all 140ms cubic-bezier(0.42, 0, 0.08, 1.44);
}

ul:first-of-type > li:active {
  transform: scale(1.06);
}

a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 24px;
  font-weight: 700;

}

/* ================================= */

/* slide-in-and-out menu button */
.menuBtn::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c9";
  color: #f1f1f1;
}

.menuBtn, .exitMenuBtn {
  position: absolute;
  left: 2%;
  top: 30px;
  /* margin-right: auto; */
  background-color: transparent;
  border: none;
  font-size: 24px;
  transition: all 100ms cubic-bezier(0.42, 0, 0.5, 1.38);
  z-index: 8;
  color: #f1f1f1;
}

.exitMenuBtn {
  text-shadow: 3px 3px 5px rgba(211, 211, 211, .5), 0px -5px 35px rgba(255,255,255,0.4);
}

.menuBtn, .exitMenuBtn {
  transform: scale(1.20);
}

.menuBtn:active, .exitMenuBtn:active {
  transform: scale(1.00);
}

.exitMenuBtn::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  color: #f1f1f1;
  margin-left: 2px;
}

.closeMenu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 78vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6); 
  transition: .4s;
  z-index: 7;
}

.openMenu {
  background-color: rgba(0,0,0,0.6); 
  position: absolute;
  top: 0;
  left: 0;
  width: 78vw;
  height: 100vh;
  transition: 325ms;
  z-index: 7;
}

/* .active {
  left: 0;
  transition: 325ms;
} */

.pageGradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  /* adjust this number to be accurate */
  height: 300vh;
  background-color: rgba(0,0,0,0.8); 
  animation: fadeIn 250ms;
  z-index: 6;
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* .noPageGradient { */
  /* position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  animation: fadeOut 250ms; */
/* } */

/* @keyframes fadeOut{
  from {
    opacity: 1;
    background-color: rgba(0,0,0,0.7); 
  }

  to {
    opacity: 0;
  }
} */
/* ================================= */

/* HomePage */

.parallax-content {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.homepage-title, .possibilities {
  text-align: center;
  font-size: 24px;
  z-index: 1;
  position: absolute;
}

.homepage-title {
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  /* opacity: 0; */
}

.possibilities {
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

.parallax-position {
  position: absolute
}

.earth {
  width: 175px;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.moon {
  width: 25%;
  top: 70%;
  right: 10%;
  z-index: 2;
  /* delete dislay none below */
  display: none;
}

.saturn {
  width: 98px;
  top: 30%;
  right: 9%;
  z-index: 1;
}

.rocket {
  width: 25%;
  top: 61%;
  left: -25%;
  z-index: 5;
}

.satellite {
  /* width: 15%; */
  width: 59px;
  top: 42%;
  left: 42%;
  z-index: 4;
}

.portrait-container {
  height:300px;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  margin-bottom: 30vh;
}

.portrait {
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
  object-position: center top;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.portrait-overlay {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
}

.portrait-container > h5 {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 50%;
  width: 80%;
  text-align: center;
  font-size: 20px;
}

.portfolio {
  display: flex;
  flex-direction: column;
} 

.portfolio h2 {
  padding: 25px;
  margin: auto;
}

.portfolio > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* .portfolio > div > div { */
  .portfolio > div > div {
  width: 90%;
  /* changed from 200px */
  height: 150px;
  /* border: 2px solid white; */
  border-radius: 35px;
  margin-bottom: 25px;
  object-fit: cover;
  position: relative;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio h3 {
  color: white;
  z-index: 1;
}
.portfolio img{
  /* play around with these settings to adjust image location */
  width: 120%;
  top: -10px;
  left: -20px;
  position: absolute;
  object-position: center center;
  object-fit: contain;
  overflow-y: hidden;
}

.project-overlay {
  background-color: rgba(1,1,1, 0.7);
  
}

.project-overlay:hover {
  background-color: rgba(1,1,1, 0.4);
}

.portfolio > p {
  margin: 40px 0px;
  font-size: 19px;
  text-align: center;
}

.portfolio > p > a {
  font-size: 19px;
  color: #b7dfc7;
}
/* ================================= */

/* section fade in */
.reveal {
    /* position: relative; */
    /* transform: translateY(150px); */
    opacity: 0;
    /* transition: all 2s ease; */
}



.nowReveal {
  /* animation: fading 1750ms; */
}

.reveal.active {
    /* transform: translateY(0px); */
    /* opacity: 1; */
}

.reveal2 {
  position: relative;
  /* transform: translateY(150px); */
  opacity: 0;
  /* transition: all 2s ease; */
  
}

.reveal2.active {
  /* transform: translateY(0px); */
  /* opacity: 1; */
}

/* @keyframes fading {
  from {
    opacity: 0
  }
  to {
    opacity: 100%;
  }
} */


.project-card {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.project-card.appear {
  opacity: 1;
  animation: shorten 1250ms
}

@keyframes shorten {
  from {
    height: 200px
  }
  to {
    height: 150px
  }
}

.clicked-project {
  color: rgb(31, 28, 28);
  background-color: #f1f1f1;
  border-radius: 15px;
  height: 400px;
  width: 85%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: projectFadeIn 150ms ease-in-out;
}

@keyframes projectFadeIn {
  from {
    opacity: 0;
    height: 0;
    width:0%;
  }
  to {
    opacity: 1;
    height: 400px;
    width: 85%;
  }
}

.clicked-project > button {
  /* border: 2px solid red; */
  background-color: transparent;
  position: absolute;
  top: .5%;
  right: 3.5%;
  border: none;
  font-size: 34px;
  z-index: 8;
  padding: 0;
  /* text-shadow: 3px 3px 4px rgba(5, 5, 5, 0.4), 1px -1px 4px rgba(5, 5, 5, 0.8); */
  /* unclear why but this gets the text-shadow to not be a box shadow
  `initial isn't the only value that works`  */
  overflow-x: initial;
}

.clicked-project > button::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  color: rgb(31, 28, 28);
}

.clicked-project > img {
  flex: 5;
  object-fit: cover;
  display: block;
}

.clicked-project > div {
  flex: 3;
  padding: 6px 8px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.clicked-project > div > h4 {
  flex: 1;
}

.clicked-project > div > p:first-of-type {
  flex: 3;
}
.clicked-project > div > a {
  flex: 2;
  align-self: center;
}

.clicked-project > div > a {
  flex: 1;
  background-color: rgba(0,0,0,.87);
  border-radius: 7px;
  padding: 4px 5px 4px 6px;
  width:fit-content;
  font-size: 17px;
  display: flex;
  /* box-sizing: border-box; */
  /* temporarily solution due to having trouble with getting border-box to apply */
  border: 2px solid #f1f1f1;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.clicked-project > div > a:hover {
  background-color: transparent;
  border: 2px solid rgba(0,0,0,.87);
  color: rgba(0,0,0,.87);
}

.clicked-project > div > a > p {
  margin-right: 2px;
}

.clicked-project > div > a > img {
  height: 20px;
}

.background-dim {
  background-color: rgba(0,0,0,.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 1;
  animation: dim 100ms ease-in-out;
}

@keyframes dim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .remove-background-dim {
  background-color: rgba(0,0,0,.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 0;
  animation: dim 300ms reverse;
} */

/* .fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
} */


/* ================================= */



/* form */
/* form {
  margin: 0 auto;
  display: none;
  border: 1px solid blue;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: 500ms ease-in;
} */

label {
  /* display: block; */
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  


}
input, textarea {
  background-color: transparent;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 7px;
  margin: 10px 0;
  display: block;
  padding: 5px;
  width: 100%;
}

textarea {
  resize: none;
}

/* when corresponding input/textarea is in focus/clicked on */
input:focus, textarea:focus {
  border: 2px solid #f1f1f1;
  outline: none;
}

button {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
}

/* ================================= */

/* about page */

.aboutPage {
  margin-right: 20px;
  margin-left: 20px;
  /* width: 0; */
  /* height: 3vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPage h2 {
  text-align: center;
}

.about-portrait {
  height: 200px;
}

#slidingOut {
  margin-top: 30px;
  margin-bottom: 40px;
  /* padding: 8px; */
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  /* width: 90%; */
  width: 0;
  height: fit-content;
  max-height: 80px;
  /* animation: slideOutward 750ms; */
  /* overflow-y: hidden; */
  /* border-top-right-radius: 7px; */
  /* border-bottom-left-radius: 7px; */
}

#slidingOut.greater {
  /* width: 90% !important; */
  animation: slideOutward 750ms;
  /* border: 3px solid red; */
}

/* .pageGradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8); 
  animation: fadeIn 250ms;
  z-index: 6;
}
} */

@keyframes slideOutward {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}


/* ================================= */


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0 50px;
}

footer div {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 20px;
}

footer div a:nth-of-type(1) img {
  width: 26px;
}

footer div a:nth-of-type(2) img {
  width: 26px;
}

footer div a:nth-of-type(3) img {
  width: 26px;
}

footer div a:nth-of-type(2) {
  margin: 0 33px;
}


footer h2::after {
  content: '.';
  color:#d8e2dc;
}

/* used for menubar infinitely orbiting satellite */
.scale-satellite {
  position: absolute;
  width: 15%;
  top: 53%;
  left: 43%;
  z-index: 4;
}

@media only screen and (min-width: 390px) {
  .possibilities {
    top: 60%;
  }
}

@media only screen and (min-width: 768px) {
  

  .possibilities {
    top: 56%;
  }

  /* .earth {
    width: 34%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  } */
  
  .saturn {
    top: 30%;
    right: 27%;
  }
  
  .satellite {
    top: 41%;
    left: 48%;
  }

.portrait-container {
  height:340px;
  width: 100%;
  margin-bottom: 40vh;
}

.portrait {
  height: 400px;
}

.portrait-container > h5 {
  font-size: 22px;
  width: 60%;
}

.portfolio > div > div {
  height: 225px;
  width: 75%;
}
.project-card {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.project-card.appear {
  opacity: 1;
  animation: shorten 1250ms
}

.clicked-project {
  width: 60%;
  height: 500px;
}

@keyframes shorten {
  from {
    height: 325px
  }
  to {
    height: 225px
  }
}
@keyframes projectFadeIn {
  from {
    opacity: 0;
    height: 0;
    width:0%;
  }
  to {
    opacity: 1;
    height: 500px;
    width: 60%;
  }
}
.contact {
  width: 60%;
}
}

@media only screen and (min-width: 820px) {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0;
  }

  header h1 {
    margin: 0;
  }

  .menuBtn, .exitMenuBtn {
    display: none;
  }

  /* .openMenu { */
  .closeMenu {
    background-color: transparent;
    position: relative;
    left: 0;
    /* top: 10px; */
    /* left: 10px; */
    width: fit-content;
    height: fit-content;
    transition: 325ms;
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-start;
  }

  .possibilities {
    top: 54%;
  }

  .saturn {
    top: 27%;
    right: 29%;
  }

  .scale-satellite {
    display: none;
  }

  .pageGradient {
    display: none;
  }

ul:first-of-type {
  width: fit-content;
  position: static;
  flex-direction: row;
  border-right: 2px solid #f3f3f3;
}

ul:first-of-type > li {
  padding: 0px;
  margin: 0 10px;
}

ul:last-of-type {
  top: 0px;
  display: flex;
  /* position: static; */
  position: relative;
  justify-content: center;
}

ul:last-of-type > li {
  /* the padding-top of 2px helps horizontally align both sets of ul elements */
  padding: 2px 9px;
}

ul:last-of-type > li:last-of-type {
  padding-right: 0;
}

a {
  font-size: 22px;
}



}

@media only screen and (min-width: 1000px) {


  .possibilities {
    top: 61%;
  }

  
  .saturn {
    top: 23%;
    right: 33%;
  }
  
  .portrait-container {
    height:400px;
    width: 70%;
    margin: 0 auto 40vh;
    border-radius: 15px;
  }
  
  .portrait {
    height: 450px;
  }

  .portfolio > div {
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 30px;
  }

  .portfolio > div > div {
  height: 200px;
  width: 30%;
  margin-bottom: 0;
}

.project-card {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.project-card.appear {
  opacity: 1;
  animation: shorten 1250ms
}

.clicked-project {
  width: 37%;
  height: 350px;
}

@keyframes shorten {
  from {
    height: 275px
  }
  to {
    height: 200px
  }
}
@keyframes projectFadeIn {
  from {
    opacity: 0;
    height: 0;
    width:0%;
  }
  to {
    opacity: 1;
    height: 350px;
    width: 37%;
  }
}



.contact {
  width: 45%;
}

}
  @media only screen and (min-width: 1200px) {
    .possibilities {
      top: 58%;
    }

    .saturn {
      top: 26%;
      right: 36%;
    }
  
    .portfolio > div {
      justify-content: space-around;
    }
  
    .portfolio > div > div {
    height: 260px;
    width: 27%;
  }

  .portfolio > p {
    margin: 60px 0 70px;
  }
  
  .project-card {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
  
  .clicked-project {
    width: 28%;
    height: 350px;
  }
  
  @keyframes shorten {
    from {
      height: 300px
    }
    to {
      height: 260px
    }
  }
  @keyframes projectFadeIn {
    from {
      opacity: 0;
      height: 0;
      width:0%;
    }
    to {
      opacity: 1;
      height: 350px;
      width: 28%;
    }
  }
  .contact {
    width: 35%;
  }
  }
  @media only screen and (min-width: 1400px) {
    
    .possibilities {
      top: 55%;
    }

    
    .portfolio > div {
      margin: 70px;
    }
  }
  @media only screen and (min-width: 1600px) {
    .possibilities {
      top: 53%;
    }
    /* .earth {
      width: 20%;
    } */
    .saturn {
      top: 26%;
      right: 36%;
    }
    .satellite {
      width: 8%;
      top: 69%;
      left: 49%;
    }
    .portfolio > div {
      margin: 70px;
    }
  }