@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Product Sans';
  overflow-x: hidden;
}

body {
  /* background-color: rgba(0,0,0,.87); */
  background-color: rgb(31, 28, 28);
  color: #f1f1f1;
}

/* consider removing/replacing */
.contact {
  padding: 50vh 0 55vh;
  position: relative;
  overflow-y: hidden;
  width: 80%;
  margin: auto;
}

.contact > p {
  color: rgb(56, 211, 146);
  width: fit-content;
  margin: 20px auto 0;
  font-size: 17px;
  /* border-bottom: 1px solid rgb(56, 211, 146); */
}

form {
  /* edges of form appear at edges of hidden container if width is set to 100% */
  width: 99%;
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.displayForm {
  /* display: table; */
  transform: translate(-50%, 110%);
  animation: slideOutForm 700ms cubic-bezier(0.42, 0, 0.15, 0.85);
}

@keyframes slideOutForm {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translate(-50%, 110%)
  }
}

.hideForm {
  /* display: table; */
  transform: translateX(-50%);
  animation: hideForm 700ms cubic-bezier(0.42, 0, 0.15, 0.85);
}

@keyframes hideForm {
  from {
    transform: translate(-50%, 110%)
  }
  to {
    transform: translateX(-50%);
  }
}

button.headerLabel {
  margin: 0px auto 10px;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #f1f1f1;
  background-color: transparent;
  z-index: 3;
  position: relative;
  /* border-right: 3px solid #4d1616; */
  /* border-left: 3px solid #4d1616; */
  /* border: 3px solid #2c2a2a */
  /* border-radius: 10px; */
  /* padding: 5px 7px; */
}

.contact-gradient {
  height: 50vh;
  width: 100%;
  z-index:2;
  position: absolute;
  top: 50px;
  background-color: rgb(31,28,28);
}

.contact-gradient-border {
  border-bottom: 3px solid #f1f1f1;
  width: 0;
  /* makes border spread across from the center point */
  /* margin: auto; */
}

.slideAcrossBorder {
  width: 100%;
  animation: slideAcross 700ms ease-in-out;
}

.slideBackBorder {
  animation: slideBack 680ms ease-in-out;
}

@keyframes slideAcross {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slideBack {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}



/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin-top: 19px;
  font-size: 40px;
}

header h1::after {
  content: '.';
  color:#d8e2dc;
}

header > h2 {
  font-size: 14px;
}

ul:first-of-type {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  top: 68px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul:last-of-type {
  top: 250px;
  display: flex;
  position: relative;
  justify-content: center;
}

ul:last-of-type > li {
  padding: 0 15px;
}


ul:first-of-type > li {
  padding: 7px 10px;
  /* width: fit-content; */
  /* border-radius: 25px; */
  /* text-align: center; */
  margin: 0 80px 13px;
  transition: all 140ms cubic-bezier(0.42, 0, 0.08, 1.44);
}

ul:first-of-type > li:active {
  transform: scale(1.06);
}

a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 24px;
  font-weight: 700;

}

/* ================================= */

/* slide-in-and-out menu button */
.menuBtn::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c9";
  color: #f1f1f1;
}

.menuBtn, .exitMenuBtn {
  position: absolute;
  left: 2%;
  top: 30px;
  /* margin-right: auto; */
  background-color: transparent;
  border: none;
  font-size: 24px;
  transition: all 100ms cubic-bezier(0.42, 0, 0.5, 1.38);
  z-index: 8;
  color: #f1f1f1;
}

.exitMenuBtn {
  text-shadow: 3px 3px 5px rgba(211, 211, 211, .5), 0px -5px 35px rgba(255,255,255,0.4);
}

.menuBtn, .exitMenuBtn {
  transform: scale(1.20);
}

.menuBtn:active, .exitMenuBtn:active {
  transform: scale(1.00);
}

.exitMenuBtn::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  color: #f1f1f1;
  margin-left: 2px;
}

.closeMenu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 78vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6); 
  transition: .4s;
  z-index: 7;
}

.openMenu {
  background-color: rgba(0,0,0,0.6); 
  position: absolute;
  top: 0;
  left: 0;
  width: 78vw;
  height: 100vh;
  transition: 325ms;
  z-index: 7;
}

/* .active {
  left: 0;
  transition: 325ms;
} */

.pageGradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  /* adjust this number to be accurate */
  height: 300vh;
  background-color: rgba(0,0,0,0.8); 
  animation: fadeIn 250ms;
  z-index: 6;
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* .noPageGradient { */
  /* position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  animation: fadeOut 250ms; */
/* } */

/* @keyframes fadeOut{
  from {
    opacity: 1;
    background-color: rgba(0,0,0,0.7); 
  }

  to {
    opacity: 0;
  }
} */
/* ================================= */

/* HomePage */

.parallax-content {
  height: 120vh;
}

.homepage-title, .possibilities {
  text-align: center;
  font-size: 24px;
  z-index: 6;
}

.homepage-title {
  margin-top: 200px;
}

.possibilities {
  margin-top: 325px;
}

.earth, .moon, .saturn, .rocket, .satellite {
  position: absolute;
}

.earth {
  width: 45%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.moon {
  width: 25%;
  top: 70%;
  right: 10%;
  z-index: 2;
  /* delete dislay none below */
  display: none;
}

.saturn {
  width: 25%;
  top: 40%;
  right: 5%;
  z-index: 1;
}

.rocket {
  width: 25%;
  top: 61%;
  left: -25%;
  z-index: 5;
}

.satellite {
  width: 15%;
  top: 59%;
  left: 42%;
  z-index: 4;
}

.portrait-container {
  height:300px;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.portrait {
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
  object-position: center top;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.portrait-overlay {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
}

.portrait-container > h5 {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  margin: 0 40px;
  text-align: center;
  font-size: 20px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  margin-top: 225px;
} 

.portfolio h2 {
  padding: 25px;
  margin: auto;
}

.portfolio > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* .portfolio > div > div { */
  .portfolio > div > div {
  width: 90%;
  /* changed from 200px */
  height: 150px;
  /* border: 2px solid white; */
  border-radius: 35px;
  margin-bottom: 25px;
  object-fit: cover;
  position: relative;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio h3 {
  color: white;
  z-index: 1;
}
.portfolio img{
  /* play around with these settings to adjust image location */
  width: 120%;
  top: -10px;
  left: -20px;
  position: absolute;
  object-position: center center;
  object-fit: contain;
  overflow-y: hidden;
}

.project-overlay {
  background-color: rgba(1,1,1, 0.1);
  
}

.project-overlay:hover {
  background-color: rgba(1,1,1, 0);
}

.portfolio > p {
  font-size: 19px;
  text-align: center;
}
/* ================================= */

/* section fade in */
.reveal {
    /* position: relative; */
    /* transform: translateY(150px); */
    opacity: 0;
    /* transition: all 2s ease; */
}



.nowReveal {
  /* animation: fading 1750ms; */
}

.reveal.active {
    /* transform: translateY(0px); */
    /* opacity: 1; */
}

.reveal2 {
  position: relative;
  /* transform: translateY(150px); */
  opacity: 0;
  /* transition: all 2s ease; */
  
}

.reveal2.active {
  /* transform: translateY(0px); */
  /* opacity: 1; */
}

/* @keyframes fading {
  from {
    opacity: 0
  }
  to {
    opacity: 100%;
  }
} */


.project-card {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.project-card.appear {
  opacity: 1;
  animation: shorten 1250ms
}

@keyframes shorten {
  from {
    height: 200px
  }
  to {
    height: 150px
  }
}

.clicked-project {
  color: rgb(31, 28, 28);
  background-color: #f1f1f1;
  border-radius: 15px;
  height: 400px;
  width: 85%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: fadeIn 225ms ease-in-out;
}

.clicked-project > button {
  /* border: 2px solid red; */
  background-color: transparent;
  position: absolute;
  top: .5%;
  right: 3.5%;
  border: none;
  font-size: 34px;
  z-index: 8;
  padding: 0;
  /* text-shadow: 3px 3px 4px rgba(5, 5, 5, 0.4), 1px -1px 4px rgba(5, 5, 5, 0.8); */
  /* unclear why but this gets the text-shadow to not be a box shadow
  `initial isn't the only value that works`  */
  overflow-x: initial;
}

.clicked-project > button::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  color: rgb(31, 28, 28);
}

.clicked-project > img {
  flex: 5;
  object-fit: cover;
  display: block;
}

.clicked-project > div {
  flex: 3;
  padding: 6px 8px;
  display: flex;
  flex-direction: column;
}

.clicked-project > div > h4 {
  flex: 1;
}

.clicked-project > div > p:first-of-type {
  flex: 3;
}
.clicked-project > div > a {
  flex: 2;
  align-self: center;
}

.clicked-project > div > a {
  flex: 1;
  background-color: rgba(0,0,0,.87);
  border-radius: 7px;
  padding: 4px 5px 4px 6px;
  width:fit-content;
  font-size: 17px;
  display: flex;
  /* box-sizing: border-box; */
  /* temporarily solution due to having trouble with getting border-box to apply */
  border: 2px solid #f1f1f1;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.clicked-project > div > a:hover {
  background-color: transparent;
  border: 2px solid rgba(0,0,0,.87);
  color: rgba(0,0,0,.87);
}

.clicked-project > div > a > p {
  margin-right: 2px;
}

.clicked-project > div > a > img {
  height: 20px;
}

.background-dim {
  background-color: rgba(0,0,0,.87);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 1;
  animation: dim 100ms ease-in-out;
}

@keyframes dim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
} */


/* ================================= */



/* form */
/* form {
  margin: 0 auto;
  display: none;
  border: 1px solid blue;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: 500ms ease-in;
} */

label {
  /* display: block; */
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  


}
input, textarea {
  background-color: transparent;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 7px;
  margin: 10px 0;
  display: block;
  padding: 5px;
  width: 100%;
}

textarea {
  resize: none;
}

/* when corresponding input/textarea is in focus/clicked on */
input:focus, textarea:focus {
  border: 2px solid #f1f1f1;
  outline: none;
}

button {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
}

/* ================================= */

/* about page */

.aboutPage {
  margin-right: 20px;
  margin-left: 20px;
  /* width: 0; */
  /* height: 3vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPage h2 {
  text-align: center;
}

.about-portrait {
  height: 200px;
}

#slidingOut {
  margin-top: 30px;
  margin-bottom: 40px;
  /* padding: 8px; */
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  /* width: 90%; */
  width: 0;
  height: fit-content;
  max-height: 80px;
  /* animation: slideOutward 750ms; */
  /* overflow-y: hidden; */
  /* border-top-right-radius: 7px; */
  /* border-bottom-left-radius: 7px; */
}

#slidingOut.greater {
  /* width: 90% !important; */
  animation: slideOutward 750ms;
  /* border: 3px solid red; */
}

/* .pageGradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8); 
  animation: fadeIn 250ms;
  z-index: 6;
}
} */

@keyframes slideOutward {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}


/* ================================= */


footer {
  display: flex;
  justify-content: center;
  margin: 30px 0 50px;
}

footer > a:nth-of-type(1) > img {
  width: 26px;
}

footer > a:nth-of-type(2) > img {
  width: 26px;
}

footer > a:nth-of-type(3) > img {
  width: 26px;
}

footer > a:nth-of-type(2) {
  margin: 0 30px;
}

/* used for menubar infinitely orbiting satellite */
.scale-satellite {
  position: absolute;
  width: 15%;
  top: 50%;
  left: 43%;
  z-index: 4;
}


